/*
 * html/body styles for Off Canvas and Sticky Footer
 * --------------------------------------------------
 */
html {
  position: relative;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  /* Fixed navbar height */
  padding-top: 70px;
  
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
  /* Sticky footer */
  min-height: 100%;
  height: auto;
  height: 100%;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  display: block;
  z-index: 1040;
}
.hide-overlay {
  display: none;
}
.transition-overlay {
  transition: opacity 0.5s ease-out;
}
.transition-overlay.hide-overlay {
  display: block;
  opacity: 0;
}

@media screen and (max-width: 767.98px) {
  .off-canvas {
    position: relative;
    min-height: 100%;
    -webkit-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
  }
  
  .off-canvas-right {
    right: 0;
  }
  
  .off-canvas-right.off-canvas-active {
    right: 200px; 
  }

  .off-canvas-right .sidebar-off-canvas {
    right: -100%; 
    -webkit-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            border-left-color: #e7e7e7;
  }


  .off-canvas-right.off-canvas-active .sidebar-off-canvas {
    right: 0; 
    border-left: 1px solid #e7e7e7;
  }

  .sidebar-off-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px; 
    padding: 60px 15px 15px;
    border-radius: 0;
    overflow-y: auto;
    z-index: 1050;
  }
  
  .sidebar-off-canvas .dropdown-menu {
    border: medium none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    float: none;
    margin: 0;
    padding-top: 0;
    position: static;
  }
  
  .navbar-toggler {
    z-index: 1060;
  }
}


/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0 !important;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  -webkit-transition: all 2s ease-out;
       -o-transition: all 2s ease-out;
          transition: all 2s ease-out;
}

@media screen and (max-width: 767.98px) {
    .footer.off-canvas-right.off-canvas-active {
        right: 200px; 
    }
}

/* Animated toggle styles
-------------------------------------------------- */
.icon-bar {
    width: 1.5rem;
    height: 0.125rem;
    border-radius: 1rem;
    background-color: #000;
    display: block;
    transition: all 0.2s;
}

.navbar-toggler:hover {
    background-color: #eaeaea;
}

.navbar-toggle-icon {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.125rem;
}

.navbar-toggler .top-bar {
    transform: rotate(0);
    transform-origin: 1.5% 1.5%;
}

.navbar-toggler .middle-bar {
    margin-top: 0.375rem;
    opacity: 1;
}

.navbar-toggler .bottom-bar {
    margin-top: 0.375rem;
    transform: rotate(0);
    transform-origin: 1.5% 98.5%;
}

.off-canvas-active .navbar-toggler .top-bar {
    transform: translate(4px)rotate(45deg);
}

.off-canvas-active .navbar-toggler .middle-bar {
    opacity: 0;
}

.off-canvas-active .navbar-toggler .bottom-bar {
    transform: translate(4px)rotate(-45deg);
}